@import './partials/general';
@import './partials/variables';



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  // background-color:rgb(198, 220, 220);
  background-color: rgb(209, 231, 221);
}

a{
  text-decoration: none;
  color: black;
  &:hover {
    color: rgb(107, 105, 105);
    text-decoration: underline;
  }
}